* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted wheat;
    padding-right: 30px;
}
.menu li:last-child{
     border-right:none;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 20px;
}

.subheader .subheader_official {
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 6px;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 3px;
    text-align: right;
    line-height: 20px;
}

.subheader .subheader_button {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    /* text button */
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url('../img/uber_bg.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descrip {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_button {
    display: block;
    margin: 118px auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;

/* text button */
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}